<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highcharts Example</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style type="text/css">
#container, #sliders { 
    
    margin: 0 auto;
}
#container {
    height: 600px; 
    width: 1200px;
}
        </style>
        <script type="text/javascript">
$(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50,
                viewDistance: 25
            },

        },
        title: {
            text: 'Frequency of probable offenders vs. State'
        },
        subtitle: {
            text: 'Data collected on the basis of advertisements posted by probable human traffickers'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        exporting:{
            enabled: false
        },
        xAxis: {
            categories: ['Texas', 'Louisana', 'North Carolina', 'California', 'Michigan', 'Kansas', 'Puerto Rico', 'Florida', 'New Jersey','Oregon'],            
            gridLineWidth: 1,
            minorGridLineWidth: 0,
            title: {
                text: 'States'
            }
        },
        series: [{
            name: 'Frequency in this state',
            data: [35, 7, 23, 31, 25, 6, 7, 23, 13, 2]
        }]
    });

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }

    // Activate the sliders
    $('#R0').on('change', function () {
        chart.options.chart.options3d.alpha = this.value;
        showValues();
        chart.redraw(false);
    });
    $('#R1').on('change', function () {
        chart.options.chart.options3d.beta = this.value;
        showValues();
        chart.redraw(false);
    });

    showValues();
});
        </script>
    </head>
    <body>
{% load staticfiles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript" src= "{% static 'human/highcharts.js' %}"></script>
<script type="text/javascript" src= "{% static 'human/highcharts-3d.js' %}"></script>
<script type="text/javascript" src= "{% static 'human/exporting.js' %}"></script>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ORBONA</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'human:index' %}">Home</a></li>
        
      </ul>
    </div>
  </div>


<div id="container"></div>

<div id = "analysis" class = "container" style = "position: absolute; top: 100%; left: 0%;height: 50%; width: 100%;">
    <h2 style = "font-family: Roboto;">Analysis</h2>
    <p>
        This section will be used to provide data that would inform citizens and policy makers alike in their battle against Human Trafficking. It would involve thoroguh analysis of the data collected and statistical modelling to expose hot spots of immoral behaviour.
    </p>

</div>

<div id = "action">


</div>

    </body>
</html>
