<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Health Analysis</title>

        {% load staticfiles %}

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


        <style type="text/css">
                ${demo.css}
        </style>
        <script type="text/javascript">
            $(function () {
                $('#container').highcharts({

                    chart: {
                        type: 'bubble',
                        plotBorderWidth: 1,
                        zoomType: 'xy'
                    },

                    title: {
                        text: 'State ranking vs frequency of probable offenders for specific states'
                    },

                    xAxis: {
                            categories: ['Texas', 'Louisana', 'North Carolina', 'California', 'Michigan', 'Kansas', 'Florida', 'New Jersey','Oregon'],            
                            gridLineWidth: 1,
                            minorGridLineWidth: 0,
                            title: {
                                text: 'States'
                            }
                    },
                    exporting:{
                        enabled: false
                    },
                    yAxis: {
                        startOnTick: false,
                        endOnTick: false,
                        title: {
                                text: 'frequency of probable offenders'
                        }
                    },

                    series: [{
                        name: 'State name, ranking, frequency',
                        data: [
                            ['Texas', 35, 31],
                            ['Louisiana', 7, 48],
                            ['North Carolina', 23, 9],
                            ['Michigan', 25, 34],
                            ['Kansas', 6, 27],
                            ['Florida', 23, 32],
                            ['New Jersey', 13, 33],
                            ['Oregon', 2, 12],
                        ],
                        marker: {
                            fillColor: {
                                radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                                stops: [
                                    [0, 'rgba(255,255,255,0.5)'],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
                                ]
                            }
                        }
                    }]

                });
            });
        </script>
    </head>
    <body>
    <script type="text/javascript" src= "{% static 'human/highcharts.js' %}"></script>
    <script type="text/javascript" src= "{% static 'human/highcharts-3d.js' %}"></script>
    <script type="text/javascript" src= "{% static 'human/exporting.js' %}"></script>
    <script type="text/javascript" src= "{% static 'human/highcharts-more.js' %}"></script>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ORBONA</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'human:index' %}">Home</a></li>
            
          </ul>
        </div>
      </div>

<div id="container" style="height: 450px; width: 800px; margin: 0 auto;"></div>
    </body>
</html>
