<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DataTraffick</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
		<p style = "font-family: Optima; text-align: center; font-size: 400%; position: absolute; top: 10%; left: 40%;" >DataTraffick</p> 

        <a class="twitter-timeline"  href="https://twitter.com/hashtag/trafficking" data-widget-id="640319998699827201">#trafficking Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <form style = "position: absolute; top: 40%; left: 40%;"id = "viewData" action = "{% url 'human:index' %}" method="post" >
            {% csrf_token %}
            {{form}}
            <button  id = "submit_btn" type="submit" form="viewData" value="Submit" class="btn btn-info btn-block">Visualize</button>  
        </form>
        {% for  each in high %}
        <p>{{each}}</p>
        {% endfor %}
</body>
</html>

