<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DataTraffick</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
		<p style = "font-family: Optima; text-align: center; font-size: 400%; position: absolute; top: 10%; left: 40%;" >DataTraffick</p> 

        <form style = "position: absolute; top: 40%; left: 48%;"id = "viewData" action = "{% url 'human:index' %}" method="post" >
            {% csrf_token %}
            <button  id = "submit_btn" type="submit" form="viewData" value="Submit" class="btn btn-info btn-block">Visualize</button>  
        </form>
        {% for  each in high %}
        <p>{{each}}</p>
        {% endfor %}
</body>
</html>

