<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- meta section -->
        <title>Orbana</title>

{% load staticfiles %}
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" >
        <!-- ./meta section -->
        
        <!-- css styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'human/css/default-blue-white.css' %}" id="dev-css">
        <!-- ./css styles -->                              
        
        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="http://aqvatarius.com/themes/intuitive/css/dev-other/dev-ie-fix.css">
        <![endif]-->
        
        <!-- javascripts -->
        <script type="text/javascript" src="{% static 'human/js/plugins/modernizr/modernizr.js' %}"></script>
        <!-- ./javascripts -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

        <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

        

        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

        
        <style>
            .dev-page{visibility: hidden;}  
             #map { height: 450px; width: 850px;}   
             .content{height: 100px; width: 200px;}       
        </style>
    </head>
    <body>
        <!-- set loading layer -->
        <div class="dev-page-loading preloader"></div>
        <!-- ./set loading layer -->       
        
        <!-- page wrapper -->
        <div class="dev-page">
            
            <!-- page header -->    
            <div class="dev-page-header">
                

                <ul class="dph-buttons pull-right">                    
                    <li class="dph-button-stuck">
                        <a href="index.html#" class="dev-page-search-toggle">
                            <div class="dev-page-search-toggle-icon">
                                <span class="circle"></span>
                                <span class="line"></span>
                            </div>
                        </a>
                    </li>                    
                    <li class="dph-button-stuck">
                        <a href="index.html#" class="dev-page-rightbar-toggle">
                            <div class="dev-page-rightbar-toggle-icon">
                                <span class="line-one"></span>
                                <span class="line-two"></span>
                            </div>
                        </a>
                    </li>
                </ul>                                                
                
            </div>
            <!-- ./page header -->
            
            <!-- page container -->
            <div class="dev-page-container">

                <!-- page sidebar -->
                <div class="dev-page-sidebar">                    
                    
                    <div class="profile profile-transparent">
                        <div class="profile-image">
                          
                        </div>
                        <div class="profile-info">
                            <h4>{{state_name}}</h4>
                        </div>                        
                    </div>
                    
                    <ul class="dev-page-navigation">
                        <li class="title">Navigation</li>
                        <li class="active">
                            <a href="index.html"><i class="fa fa-desktop"></i> <span>Home</span></a>
                        </li>                        
                        <li>
                            <a href="index.html#"><i class="fa fa-file-o"></i> <span>Analytics</span></a>
                            <ul>
                                <li>
                                    <a href = "{% url 'human:economics' %}">Social Analysis</a>
                                    
                                </li>
                                <li>
                                    <a href = "{% url 'human:social' %}">Economic Analysis</a>
                                </li>
                                <li>
                                    <a href = "{% url 'human:health' %}">Health Analysis</a>
                                </li>
                            </ul>
                        </li> 

                        <li>
                            <a href="{% url 'human:org' %}"><i class="fa"></i> <span>Organizations</span></a>
                        </li>    
                    </ul>
                    
                </div>
                <!-- ./page sidebar -->
                
                <!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
                        
                        
                        <div class="row row-condensed">
                            <div class="col-lg-9 col-md-6">
                                
                                <div class="wrapper">
                                    
                                    <div class="page-subtitle">
                                        <h2>Map Overview</h2>
                                    </div>                     

                                    <div id="dashboard-chart" class="chart-holder">
                                        <div id="map"></div>
                                    </div>

                                </div>

                                 
                                     <div id="dashboard-chart" class="chart-holder">
                                        <a class="twitter-timeline"  href="https://twitter.com/hashtag/trafficking" data-widget-id="640319998699827201">#trafficking Tweets</a>
                                    </div>  
                            

                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                                    </script>
                                
                            </div>
                        </div>
                             
                                

            
            <!-- right bar -->
            <div class="dev-page-rightbar">
                <div class="rightbar-chat">

                    <div class="rightbar-chat-frame-contacts scroll">
                        <div class="rightbar-title">
                            <h3>Messages</h3>
                            <a href="index.html#" class="btn btn-default btn-rounded rightbar-close pull-right"><span class="fa fa-times"></span></a>
                        </div>
                        <ul class="contacts">
                            <li class="title">online</li>
                            <li>
                                <a href="index.html#" class="status online">
                                    John Doe                                            
                                </a>
                            </li>                                    
                            <li>
                                <a href="index.html#" class="status online">
                                     Shannon Freeman                                            
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status away">
                                   Devin Stephens                                            
                                </a>
                            </li>                                    
                            <li>
                                <a href="index.html#" class="status away">
                                     Marissa George                                           
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status dont">
                                    Sydney Reeves                                           
                                </a>
                            </li>
                            <li class="title">offline</li>
                            <li>
                                <a href="index.html#" class="status">
                                    Kaitlynn Bowen                                           
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status">
                                     Karen Spencer                                            
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status">
                                     Darrell Wolfe                                            
                                </a>
                            </li>                                    
                        </ul>
                    </div>

          

                    <div class="rightbar-chat-frame-chat">
                        <div class="user">
                            <div class="user-panel">
                                <a href="index.html#" class="btn btn-default btn-rounded rightbar-chat-close"><span class="fa fa-angle-left"></span></a>
                                <a href="index.html#" class="btn btn-default btn-rounded pull-right"><span class="fa fa-user"></span></a>
                            </div>
                            <div class="user-info">
                                <div class="user-info-image status online">
                                   
                                </div>
                                <h5>Devin Stephens</h5>
                                <span>UI/UX Designer</span>
                            </div>
                        </div>
                        <div class="chat-wrapper scroll">
                            <ul class="chat" id="rightbar_chat">
                                <li class="inbox">
                                    Hi, you have a second? Need to ask you something.
                                    <span>about 1h ago</span>
                                </li>                                    
                                <li class="sent">
                                    Sure i have...
                                    <span>59min ago</span>
                                </li>
                                <li class="inbox">
                                    It's about latest design you did...
                                    <span>14min ago</span>
                                </li>
                                <li class="sent">
                                    I will do my best to help you
                                    <span>2min ago</span>
                                </li>
                            </ul>
                        </div>

                        <form class="form" action="#" method="post" id="rightbar_chat_form">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-paperclip"></i></button>
                                    </div>
                                    <input type="text" class="form-control" name="message">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            <!-- ./right bar -->
            
      

{% load staticfiles %}
        <script type="text/javascript" src="{% static 'human/js/plugins/jquery/jquery.min.js' %}"></script>       
        <script type="text/javascript" src="{% static 'human/js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'human/js/plugins/moment/moment.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/knob/jquery.knob.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/bootstrap-select/bootstrap-select.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/d3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/nv.d3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/lib/stream_layers.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/waypoint/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/counter/jquery.counterup.min.js' %}"></script>        

        <script type="text/javascript" src="{% static 'human/js/dev-loaders.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/dev-layout-default.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/demo.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/dev-app.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/demo-dashboard.js' %}"></script>
        <!-- ./javascript -->
        <script type="text/javascript">
            function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                }



            $(document).ready(function() {
                // catch the form's submit event
                    $.ajax({ // create an AJAX call...
                        dataType: "json", // get the form data
                        type: "GET", // GET or POST
                        url: "/human/map_data/", // the file to call
                        success: function(data) { // on success..
                           
                        

                            // for (i in data){
                            //     lat = parseFloat(i.split(" ")[0]);
                            //     lon = parseFloat(i.split(" ")[1]);
                            //     console.log(lat, lon)


                            //     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                            //     L.marker([lat, lon]).addTo(map)
                            //     .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')

                            // }
                            L.mapbox.accessToken = 'pk.eyJ1IjoicmlzaGFiaHJhbmF3YXQiLCJhIjoiOTdkMTQ5OWI1MDdlYTkzMGE0N2Y2NjI5ZGM3OTc4OTYifQ.ruRWjZ2nFJE_DGL-_mqSQg';

                            var map = L.mapbox.map('map', 'mapbox.streets')
                                .setView([38.5, -98], 5);
                            var markers = new L.MarkerClusterGroup();

                            for (a in data) {
                                try{
                                    lat = parseFloat(a.split(" ")[0]);
                                    lon = parseFloat(a.split(" ")[1]);
                                    

                                    phone_count = data[a][0]
                                    
                                    lists = []
                                    for (var i = 1; i<data[a].length; i++){
                                        lists.push(data[a][i]);
                                    };


                                    var marker = L.marker(new L.LatLng(lat, lon), {
                                        icon: L.mapbox.marker.icon({'marker-size': 'small', 'marker-color': '0044FF'}),
                                        lists: lists, phone_count: phone_count
                                    });
 
                                    marker.bindPopup('<div class = "content"><p>Number of phone numbers:'+phone_count+'</p></div>');
                                    markers.addLayer(marker);
                                }
                                catch(err){
                                    console.log("Error")
                                }
                            }

                            map.addLayer(markers);
                            // clustergroup = new L.MarkerClusterGroup()
                            // var map = L.map('map', {
                            //     center: [51.505, -0.09],
                            //     zoom: 1
                            // });
                            
                            // for (i in data){
                            //         console.log(i)
                            //         L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                            //         L.marker([i[0], i[1]]).addTo(map)
                            //         .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                            // }

                        },
                        error: function(e, x, r) { // on error. 
                            console.log("Failed!");
                        }
                    });
                    return false;
                });
            
    </script>
    </body>
</html>






