<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- meta section -->
        <title>Orbana</title>

{% load staticfiles %}
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" >
        <!-- ./meta section -->
        
        <!-- css styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'human/css/default-blue-white.css' %}" id="dev-css">
        <!-- ./css styles -->                              
        
        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="http://aqvatarius.com/themes/intuitive/css/dev-other/dev-ie-fix.css">
        <![endif]-->
        
        <!-- javascripts -->
        <script type="text/javascript" src="{% static 'human/js/plugins/modernizr/modernizr.js' %}"></script>
        <!-- ./javascripts -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

        <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

        

        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

        
        <style>
            .dev-page{visibility: hidden;}  
             #map { height: 500px; }   
             .content{height: 100px; width: 200px;}       
        </style>
    </head>
    <body>
        <!-- set loading layer -->
        <div class="dev-page-loading preloader"></div>
        <!-- ./set loading layer -->       
        
        <!-- page wrapper -->
        <div class="dev-page">
            
            <!-- page header -->    
            <div class="dev-page-header">
                
                <div class="dph-logo">
                    <a href="index.html">Orbana!</a>
                    <a class="dev-page-sidebar-collapse">
                        <div class="dev-page-sidebar-collapse-icon">
                            <span class="line-one"></span>
                            <span class="line-two"></span>
                            <span class="line-three"></span>
                        </div>
                    </a>
                </div>

                <ul class="dph-buttons pull-right">                    
                    <li class="dph-button-stuck">
                        <a href="index.html#" class="dev-page-search-toggle">
                            <div class="dev-page-search-toggle-icon">
                                <span class="circle"></span>
                                <span class="line"></span>
                            </div>
                        </a>
                    </li>                    
                    <li class="dph-button-stuck">
                        <a href="index.html#" class="dev-page-rightbar-toggle">
                            <div class="dev-page-rightbar-toggle-icon">
                                <span class="line-one"></span>
                                <span class="line-two"></span>
                            </div>
                        </a>
                    </li>
                </ul>                                                
                
            </div>
            <!-- ./page header -->
            
            <!-- page container -->
            <div class="dev-page-container">

                <!-- page sidebar -->
                <div class="dev-page-sidebar">                    
                    
                    <div class="profile profile-transparent">
                        <div class="profile-image">
                          
                        </div>
                        <div class="profile-info">
                            <h4>{{state_name}}</h4>
                            <span><a href =  "{% url 'human:org-action' %}">Organization</a></span>
                        </div>                        
                    </div>
                    
                    <ul class="dev-page-navigation">
                        <li class="title">Navigation</li>
                        <li class="active">
                            <a href="index.html"><i class="fa fa-desktop"></i> <span>Dashboard</span></a>
                        </li>                        
                        <li>
                            <a href="index.html#"><i class="fa fa-file-o"></i> <span>Pages</span></a>
                            <ul>
                                <li>
                                    <a href="index.html#">Email</a>
                                    <ul>
                                        <li><a href="pages-email-inbox.html">Inbox</a></li>
                                        <li><a href="pages-email-compose.html">Compose</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index.html#">Login Forms</a>
                                    <ul>
                                        <li><a href="pages-login.html" target="_blank">Login</a></li>
                                        <li><a href="pages-login-lite.html" target="_blank">Login Lite</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index.html#">Registration Forms</a>
                                    <ul>
                                        <li><a href="pages-registration.html" target="_blank">Registration</a></li>
                                        <li><a href="pages-registration-lite.html" target="_blank">Registration Lite</a></li>
                                    </ul>
                                </li>                                
                                <li><a href="pages-lock-screen.html">Lock Screen</a></li>                                
                                <li><a href="pages-session-timeout.html">Session Timeout</a></li>
                                <li><a href="pages-edit-profile.html">Edit Profile</a></li>
                                <li><a href="pages-profile.html">Profile</a></li>
                                <li><a href="pages-faq.html">FAQ</a></li>
                                <li><a href="pages-gallery.html">Gallery</a></li>
                                <li><a href="pages-tocify.html">Tocify</a></li>
                                <li><a href="pages-invoice.html">Invoice</a></li>
                                <li><a href="pages-error-404.html">Error 404</a></li>                                
                                <li><a href="pages-contacts.html">Contacts</a></li>
                            </ul>
                        </li>    
                    </ul>
                    
                </div>
                <!-- ./page sidebar -->
                
                <!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
                        
                        
                        <div class="row row-condensed">
                            <div class="col-lg-9 col-md-6">
                                
                                <div class="wrapper">
                                    <div class="page-subtitle">
                                        <h2>Summary profit</h2>
                                        <a href =  "{% url 'human:org-action' %}">Organization</a>  
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-rounded btn-icon"><i class="fa fa-calendar pull-left"></i> 01/07/2015</button>
                                                <button class="btn btn-default btn-rounded btn-icon"><i class="fa fa-calendar pull-left"></i> 01/08/2015</button>
                                            </div>
                                        </div>
                                    </div>                                                                        
                                    <div id="dashboard-chart" class="chart-holder"><div id="map"></div></div>                                                                                                            
                                    
                                    <div class="table-responsive">
                                       
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="widget-tabbed margin-top-30">
                                    <ul class="widget-tabs widget-tabs-three">
                                        <li class="active"><a href="index.html#tasks">Tasks</a></li>                                        
                                        <li><a href="index.html#activity">Activity</a></li>                                        
                                    </ul>                                    
                                    <div class="widget-tab list-tasks active" id="tasks">
                                                                                
                                        <div class="list-tasks-item primary">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_1">
                                                <label for="task_1"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">The term is commonly used as a synonym for computers and computer networks</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">John Doe</a></div>
                                                <div class="date">13:30</div>
                                            </div>
                                        </div>

                                        <div class="list-tasks-item danger">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_2">
                                                <label for="task_2"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">Humans have been storing, retrieving, manipulating and communicating information</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Devin Stephens</a></div>
                                                <div class="date">11:22</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item danger">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_3">
                                                <label for="task_3"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">Based on the storage and processing technologies employed</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Kaitlynn Bowen</a></div>
                                                <div class="date">10:59</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item info">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_4">
                                                <label for="task_4"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">Devices have been used to aid computation for thousands of years</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Marissa George</a></div>
                                                <div class="date">10:48</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item warning active">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_1" checked="checked">
                                                <label for="task_1"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">The behaviour of troops in warfare varies considerably, both individually and as units or armies</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Philip Orlowsky</a></div>
                                                <div class="date">1 day ago</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item danger active">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_5" checked="checked">
                                                <label for="task_5"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">In a business context, the Information Technology Association of America has defined information technology</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Darrell Wolfe</a></div>
                                                <div class="date">1 day ago</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item primary active">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_6" checked="checked">
                                                <label for="task_6"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">The relational database model introduced a programming-language independent Structured Query Language</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Karen Spencer</a></div>
                                                <div class="date">1 day ago</div>
                                            </div>
                                        </div>
                                        
                                        <div class="list-tasks-item warning active">
                                            <div class="checkbox">
                                                <input type="checkbox" id="task_7" checked="checked">
                                                <label for="task_7"></label>
                                            </div>
                                            <div class="task">
                                                <a href="index.html#">The field of information ethics was established by mathematician Norbert Wiener in the 1940s</a>
                                                <div class="user"><i class="fa fa-user"></i> <a href="index.html#">Marissa George</a></div>
                                                <div class="date">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
         
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="wrapper padding-bottom-0">
                      

                                        </div>
                             
                                

            
            <!-- right bar -->
            <div class="dev-page-rightbar">
                <div class="rightbar-chat">

                    <div class="rightbar-chat-frame-contacts scroll">
                        <div class="rightbar-title">
                            <h3>Messages</h3>
                            <a href="index.html#" class="btn btn-default btn-rounded rightbar-close pull-right"><span class="fa fa-times"></span></a>
                        </div>
                        <ul class="contacts">
                            <li class="title">online</li>
                            <li>
                                <a href="index.html#" class="status online">
                                    John Doe                                            
                                </a>
                            </li>                                    
                            <li>
                                <a href="index.html#" class="status online">
                                     Shannon Freeman                                            
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status away">
                                   Devin Stephens                                            
                                </a>
                            </li>                                    
                            <li>
                                <a href="index.html#" class="status away">
                                     Marissa George                                           
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status dont">
                                    Sydney Reeves                                           
                                </a>
                            </li>
                            <li class="title">offline</li>
                            <li>
                                <a href="index.html#" class="status">
                                    Kaitlynn Bowen                                           
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status">
                                     Karen Spencer                                            
                                </a>
                            </li>
                            <li>
                                <a href="index.html#" class="status">
                                     Darrell Wolfe                                            
                                </a>
                            </li>                                    
                        </ul>
                    </div>

                    <div class="rightbar-chat-frame-chat">
                        <div class="user">
                            <div class="user-panel">
                                <a href="index.html#" class="btn btn-default btn-rounded rightbar-chat-close"><span class="fa fa-angle-left"></span></a>
                                <a href="index.html#" class="btn btn-default btn-rounded pull-right"><span class="fa fa-user"></span></a>
                            </div>
                            <div class="user-info">
                                <div class="user-info-image status online">
                                   
                                </div>
                                <h5>Devin Stephens</h5>
                                <span>UI/UX Designer</span>
                            </div>
                        </div>
                        <div class="chat-wrapper scroll">
                            <ul class="chat" id="rightbar_chat">
                                <li class="inbox">
                                    Hi, you have a second? Need to ask you something.
                                    <span>about 1h ago</span>
                                </li>                                    
                                <li class="sent">
                                    Sure i have...
                                    <span>59min ago</span>
                                </li>
                                <li class="inbox">
                                    It's about latest design you did...
                                    <span>14min ago</span>
                                </li>
                                <li class="sent">
                                    I will do my best to help you
                                    <span>2min ago</span>
                                </li>
                            </ul>
                        </div>

                        <form class="form" action="#" method="post" id="rightbar_chat_form">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-paperclip"></i></button>
                                    </div>
                                    <input type="text" class="form-control" name="message">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            <!-- ./right bar -->
            
            <!-- page footer -->    
            <div class="dev-page-footer dev-page-footer-fixed"> <!-- dev-page-footer-closed dev-page-footer-fixed -->
                <ul class="dev-page-footer-controls">
                    <li><a class="dev-page-sidebar-minimize tip" title="Toggle navigation"><i class="fa fa-arrows-h"></i></a></li>
                    <li><a class="tip" title="Setings"><i class="fa fa-cogs"></i></a></li>
                </ul>
                
                <!-- page footer buttons -->
                <ul class="dev-page-footer-buttons">                    
                    <li><a href="index.html#footer_content_1" class="dev-page-footer-container-open"><i class="fa fa-database"></i></a></li>                    
                    <li><a href="index.html#footer_content_2" class="dev-page-footer-container-open"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="index.html#footer_content_3" class="dev-page-footer-container-open"><i class="fa fa-server"></i></a></li>
                </ul>
                <!-- ./page footer buttons -->
                <!-- page footer container -->
                <div class="dev-page-footer-container">
                    
                    <!-- loader and close button -->
                    <div class="dev-page-footer-container-layer">
                        <a href="index.html#" class="dev-page-footer-container-layer-button"></a>
                    </div>
                    <!-- ./loader and close button -->                    
                    
                    <!-- informers -->
                    <div class="dev-page-footer-container-content" id="footer_content_1">                        
                        <div class="dev-list-informers">                            
                            <div class="dev-list-informers-item">
                                <div class="chart">
                                    <input class="knob" data-width="100" data-max="100" data-fgColor="#E74E40" value="33" data-angleArc="250" data-angleOffset="-125" data-thickness=".1"/>
                                </div>
                                <div class="info">
                                    <h5>Disk Usage</h5>
                                    <p>Server #1 - <strong>235,4Gb / 500Gb</strong></p>
                                    <p>Server #2 - <strong>114,2Gb / 500Gb</strong></p>
                                    <p class="text-higlight">33% - Total disk usage</p>
                                </div>
                            </div>
                            
                            <div class="dev-list-informers-item">
                                <div class="chart">
                                    <input class="knob" data-width="100" data-max="100" data-fgColor="#85d6de" value="75" data-thickness=".1"/>
                                </div>
                                <div class="info">
                                    <h5>Database Usage</h5>
                                    <p>Disk Space - <strong>64,3Gb / 100Gb</strong></p>
                                    <p>Accounts - <strong>12 / 30</strong></p>
                                    <p class="text-higlight">75% - Features usage</p>
                                </div>
                            </div>
                            
                            <div class="dev-list-informers-item">
                                <div class="chart">
                                    <input class="knob" data-width="100" data-max="100" data-fgColor="#82b440" value="62" data-thickness=".1"/>
                                </div>
                                <div class="info">
                                    <h5>Memory Usage</h5>
                                    <p>Total - <strong>2048Mb</strong></p>
                                    <p>Cached - <strong>1291Mb</strong></p>
                                    <p>Available - <strong>757Mb</strong></p>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                    <!-- ./informers -->
                    
                    <!-- informers -->
                    <div class="dev-page-footer-container-content" id="footer_content_2">                        
                        <div class="dev-list-informers">                            
                            <div class="dev-list-informers-item dev-list-informers-item-extended">
                                <div class="chart">
                                    <span class="sparkline" sparkType="bar" sparkBarColor="#82b440" sparkWidth="150" sparkHeight="100" sparkBarWidth="15">5,4,3,2,4,5,6,7,8,6,4,5</span>
                                </div>
                                <div class="info">
                                    <h5>Visitors</h5>
                                    <p>New - <strong>722</strong></p>
                                    <p>Returned - <strong>230</strong></p>
                                    <p class="text-higlight">Total - <strong>952</strong></p>
                                </div>
                            </div>                            
                            
                            <div class="dev-list-informers-item dev-list-informers-item-extended">
                                <div class="chart">
                                    <span class="sparkline" sparkFillColor="#85d6de" sparkLineWidth="2" sparkLineColor="#85d6de" sparkWidth="200" sparkHeight="100" >5,4,3,2,4,5,6,7,8,6,4,5</span>
                                </div>
                                <div class="info">
                                    <h5>Sales</h5>
                                    <p>Total Sales - 35</p>
                                    <p>Rate - 25</p>
                                    <p class="text-higlight">Ratio - <strong>75%</strong></p>
                                </div>
                            </div>
                            
                            <div class="dev-list-informers-item">
                                <div class="chart">
                                    <span class="sparkline" sparkType="pie" sparkWidth="100" sparkHeight="100" >3,7</span>
                                </div>
                                <div class="info">
                                    <h5>User Stats</h5>
                                    <p>Registrated - 1,522</p>
                                    <p>Not active - 316</p>
                                    <p class="text-higlight">Total - <strong>1,838</strong></p>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                    <!-- ./informers -->
                    
                    <!-- projects -->
                    <div class="dev-page-footer-container-content" id="footer_content_3">                        
                        <ul class="dev-list-projects">
                            <li><a href="index.html#" class="active">Intuitive</a></li>
                            <li><a href="index.html#">Atlant</a></li>
                            <li><a href="index.html#">Gemini</a></li>
                            <li><a href="index.html#">Taurus</a></li>
                            <li><a href="index.html#">Leo</a></li>
                            <li><a href="index.html#">Aries</a></li>
                            <li><a href="index.html#">Virgo</a></li>
                            <li><a href="index.html#">Aquarius</a></li>
                            <li><a href="index.html#" class="dev-list-projects-add"><i class="fa fa-plus"></i></a></li>
                        </ul>                        
                    </div>
                    <!-- ./projects -->
                </div>
                <!-- ./page footer container -->
                
                <ul class="dev-page-footer-controls dev-page-footer-controls-auto pull-right">
                    <li><a class="dev-page-footer-fix tip" title="Fixed footer"><i class="fa fa-thumb-tack"></i></a></li>
                    <li><a class="dev-page-footer-collapse dev-page-footer-control-stuck"><i class="fa fa-dot-circle-o"></i></a></li>
                </ul>
            </div>
            <!-- ./page footer -->
            
            <!-- page search -->
            <div class="dev-search">
                <div class="dev-search-container">
                    <div class="dev-search-form">
                    <form action="index.html" method="post">
                        <div class="dev-search-field">
                            <input type="text" placeholder="Search..." value="Search for topics, NGOs, etc.">
                        </div>                        
                    </form>
                    </div>
                    <div class="dev-search-results"></div>
                </div>
            </div>
            <!-- page search -->            
        </div>
        <!-- ./page wrapper -->

        <!-- javascript -->

{% load staticfiles %}
        <script type="text/javascript" src="{% static 'human/js/plugins/jquery/jquery.min.js' %}"></script>       
        <script type="text/javascript" src="{% static 'human/js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'human/js/plugins/moment/moment.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/knob/jquery.knob.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/bootstrap-select/bootstrap-select.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/d3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/nv.d3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/nvd3/lib/stream_layers.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'human/js/plugins/waypoint/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/plugins/counter/jquery.counterup.min.js' %}"></script>        

        <script type="text/javascript" src="{% static 'human/js/dev-loaders.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/dev-layout-default.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/demo.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/dev-app.js' %}"></script>
        <script type="text/javascript" src="{% static 'human/js/demo-dashboard.js' %}"></script>
        <!-- ./javascript -->
        <script type="text/javascript">
            function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                }



            $(document).ready(function() {
                // catch the form's submit event
                    $.ajax({ // create an AJAX call...
                        dataType: "json", // get the form data
                        type: "GET", // GET or POST
                        url: "/human/map_data/", // the file to call
                        success: function(data) { // on success..
                           
                        

                            // for (i in data){
                            //     lat = parseFloat(i.split(" ")[0]);
                            //     lon = parseFloat(i.split(" ")[1]);
                            //     console.log(lat, lon)


                            //     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                            //     L.marker([lat, lon]).addTo(map)
                            //     .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')

                            // }
                            L.mapbox.accessToken = 'pk.eyJ1IjoicmlzaGFiaHJhbmF3YXQiLCJhIjoiOTdkMTQ5OWI1MDdlYTkzMGE0N2Y2NjI5ZGM3OTc4OTYifQ.ruRWjZ2nFJE_DGL-_mqSQg';

                            var map = L.mapbox.map('map', 'mapbox.streets')
                                .setView([38.5, -98], 5);
                            var markers = new L.MarkerClusterGroup();

                            for (a in data) {
                                try{
                                    lat = parseFloat(a.split(" ")[0]);
                                    lon = parseFloat(a.split(" ")[1]);
                                    

                                    phone_count = data[a][0]
                                    
                                    lists = []
                                    for (var i = 1; i<data[a].length; i++){
                                        lists.push(data[a][i]);
                                    };


                                    var marker = L.marker(new L.LatLng(lat, lon), {
                                        icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '0044FF'}),
                                        lists: lists, phone_count: phone_count
                                    });
 
                                    marker.bindPopup('<div class = "content"><p>Number of phone numbers:'+phone_count+'</p></div>');
                                    markers.addLayer(marker);
                                }
                                catch(err){
                                    console.log("Error")
                                }
                            }

                            map.addLayer(markers);
                            // clustergroup = new L.MarkerClusterGroup()
                            // var map = L.map('map', {
                            //     center: [51.505, -0.09],
                            //     zoom: 1
                            // });
                            
                            // for (i in data){
                            //         console.log(i)
                            //         L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                            //         L.marker([i[0], i[1]]).addTo(map)
                            //         .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                            // }

                        },
                        error: function(e, x, r) { // on error. 
                            console.log("Failed!");
                        }
                    });
                    return false;
                });
            
    </script>
    </body>
</html>






