<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DataTraffik</title>

{% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    
    <style>
        #map { 
            height: 500px; 
        }
    </style>

</head>


<body>
    <p>{{state_name}}</p>
    <p>{{problem}}</p>
    <p>{{count}}</p>
     <div id="map"></div>
</body>

    <!-- jQuery -->
    {% load staticfiles %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <!-- Plugin JavaScript -->

    <script type="text/javascript" src= "{% static 'human/highcharts.js' %}"></script>
    <script type="text/javascript" src= "{% static 'human/highcharts-3d.js' %}"></script>
    <script type="text/javascript" src= "{% static 'human/exporting.js' %}"></script>
    

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
            }

        $(document).ready(function() {
            console.log("okAY");
            var map = L.map('map', {
                center: [51.505, -0.09],
                zoom: 13
            });
            
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        });
        

    </script>


</html>



